
<div id="booking" class="center border border-primary" onclick="myFunction(event)">
    <h1 style="align-content: center;">{{phim.tenphim}}</h1>
    <h3 style="align-content: center;">Ngày chiếu: {{lich.ngay}}</h3>
</div>
<table class="table" style="margin-top: 50px ;">
  <thead>
    <tr>
      <th scope="col">Vị trí</th>
      <th scope="col">Giá</th>
    </tr>
  </thead>
  <tbody id="table-col">
   <tr>
       <td id='soluong'></td>
       <td id='sum'></td>
   </tr> 
  </tbody>
</table>
    
<div class="center">
<button type="button" class="btn btn-danger" id="check">Đặt vé</button>
</div>
{{!-- <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">i'X'j</a> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const sohang = {{hang}};
    const socot = {{cot}};
    var rawData = "{{ghe}}";
    var selected =[];
    const seat = rawData.split(',');
    console.log("Seat arr: "+seat);

    
    for(var i=0; i<socot; i++){
        var div =document.createElement("DIV");
        div.id = i;
        document.getElementById("booking").appendChild(div);
        for(var j=0; j<sohang; j++){
            var btn = document.createElement("BUTTON");
            
            btn.style.border="10px";
            btn.innerText= i+'X'+j;
            btn.id =i+"X"+j;
            btn.className = ((isUsed(btn.id)?
                "btn btn-danger ": "btn btn-outline-dark" ));
            btn.disabled = ((btn.className=="btn btn-danger ")? true: false);
            
            document.getElementById(i).appendChild(btn);
        }
    }
    function isUsed(name){
        for(var i=0; i<seat.length; i++){
            if (seat[i]== name)
                return true;
        }
        return false;
    }
    function myFunction(event) { 
        var x = event.target;
        if(x.tagName=="BUTTON"){
           
            var btn = document.getElementById(x.id);
            btn.className =((btn.className=="btn btn-primary")? "btn btn-outline-dark": "btn btn-primary");
            if(btn.className=="btn btn-outline-dark"){
                var temp = document.getElementById(btn.id+"tr");
                temp.remove();
                selected.splice(getIndex(btn.id), 1);
                console.log("BTN "+ btn.id+" has been removed");
            }
            else{
                var tr = document.createElement("TR");
                tr.id = btn.id+"tr";
                document.getElementById("table-col").appendChild(tr);
                // create content
                var td = document.createElement("TD");
                td.textContent = btn.id;
                document.getElementById(btn.id+"tr").appendChild(td);
                //
                var td1 = document.createElement("TD");
                var x = 45000;
                td1.textContent = x.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
                document.getElementById(btn.id+"tr").appendChild(td1);
                var seatt = btn.id;
                //console.log('Seatt: '+seatt);
                selected.push(seatt);
            }
            var soluong = selected.length;
            var sum = soluong*45000;
            document.getElementById("soluong").innerHTML = "<b>Số lượng:</b> "+ soluong.toString();
            sum = sum.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
            document.getElementById("sum").innerHTML = "<b>Tổng tiền:</b> "+ sum;

        }


    }
    function getIndex(name){
        if(selected.length>0){
            for(var i=0; i<selected.length; i++){
            if (name== selected[i])
                return i;

        }
        }
        return -1;
    }
    document.getElementById("check").addEventListener("click", function(){
        if (selected.length!=0){
            var malich = {{malich}};
            var btnCheck = document.getElementById("check");
            btnCheck.disabled = true;
            var temp = document.createElement("span");
            temp.className="spinner-border spinner-border-sm";
            btnCheck.appendChild(temp);
            var xhr = new XMLHttpRequest();
            var url = "http://localhost:3000/checkout";
            data = JSON.stringify(selected);
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-type","application/json;charset=UTF-8");
            xhr.setRequestHeader("malich", malich);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    window.location.reload(true);
                }
        };
        xhr.send(data); 
   
        }
    });
   
</script>
<style>
.center {
  margin: auto;
  width: 60%;
  text-align: center;
}
</style>